/* styles.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2c3e50;
    font-family: 'Arial', sans-serif;
    margin: 0;
}

#pantalla-principal,
#pantalla-juego {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #34495e;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    max-width: 567px;
    width: 100%;
}

h2 {
    color: #34495e;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-size: 18px;
    color: #34495e;
}

input,
select,
button {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #bdc3c7;
}

button {
    background-color: rgb(52, 73, 94);
    color: white;
    border: none;
    cursor: pointer;
    padding-bottom: 10;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 10px;
}

button:hover {
    background-color: #2980b9;
    transform: scale(1.05);

}

/*#tablero {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    border: 2px solid rgb(52, 73, 94);
    margin-top: 20px;
}

*/

#tablero {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 2px;
    width: 14.9cm;
    /* Ajusta según el tamaño de tu imagen */
    height: 13.9cm;
    /* Ajusta según el tamaño de tu imagen 
    background: url('images/tablas.png') no-repeat center center;*/
    background-size: cover;
    position: relative;
}

#tablero div {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1 black;
    position: relative;
    color: rgb(0, 0, 0) solid 1;
    font-weight: bold;

}

#CantidadJugadores {
    text-align: center;
}

.jugador1 {
    background-color: rgba(173, 216, 230, 0.8);
    /* LightBlue with transparency */
}

.jugador2 {
    background-color: rgba(144, 238, 144, 0.8);
    /* LightGreen with transparency */
}


.fondo-facil {
    background: url('images/facil.png') no-repeat center center;
    background-size: cover;
}

.fondo-dificil {
    background: url('images/Dificiil.png') no-repeat center center;
    background-size: cover;
}




#controles {
    margin-top: 20px;
    text-align: center;
}

#controles button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 10px;
}

#abandonar{
    background-color: red;
    color: white;
}

#resultado-dado,
#turno-jugador {
    margin-top: 10px;
    font-size: 18px;
    color: #34495e;
}

#estadisticas-jugadores {
    font-size: 16px;
    color: #34495e;
    margin-top: 20px;
}

.jugador1 {
    background: url('images/AXUL.png') no-repeat center center;
    color: white;

    justify-content: center;
    align-items: center;
    margin: 1PX;
    
}

.jugador2 {
    background: url('images/D.png') no-repeat center center;
    color: white;
    justify-content: center;
    align-items: center;
    margin: 1PX;
    


}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.cerrar {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.cerrar:hover,
.cerrar:focus {
    color: black;
    text-decoration: none;
}